#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.app{
  transition: background-color 0.3s ease, color 0.3s ease; /* Transizione morbida */
}

