.active{
    color: red;
}

.menu{
    transition: background-color 0.3s ease, color 0.3s ease; /* Transizione morbida */
    
}

.menulight {
background-color: #71f0ae; /* Sfondo chiaro */
  color: #333333;               /* Testo scuro */
}

.menu_dark {
  background-color: #121212;    /* Sfondo scuro */
  color: #71f0ae;           /* Testo chiaro */
}

ul {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: rgb(138, 241, 241);
}